extends base.pug

block content
  section(class="articles")
    h1 Recent Articles
    ul
      each item in articles.slice(0, 6)
        li
          a(href='/article/' + item.slug)
            span= item.prettyDate
            p= item.title
      li
        span
        a(href="/article/", class="read-more") More articles ↠
  
  hr
  
  div(class='twitch-embed-outside')
    div(id='twitch-embed')
    script(src='https://embed.twitch.tv/embed/v1.js')
    script.
      new Twitch.Embed('twitch-embed', {
        width: '100%',
        height: '100%',
        layout: 'video',
        channel: 'nitrixr'
      });
  
  hr

  section
    != about
