extends base.pug

block content
  section(class="articles")
    h1 Recent Articles
    ul
      each item in articles.slice(0, 6)
        li
          a(href='/article/' + item.slug)
            span= item.prettyDate
            p= item.title
      li
        span
        a(href="/article/", class="read-more") More articles ↠
  
  hr
  
  div(class='twitch-embed-outside')
    div(id='twitch-embed')
    script(src='https://embed.twitch.tv/embed/v1.js')
    script.
      new Twitch.Embed('twitch-embed', {
        width: '100%',
        height: '100%',
        layout: 'video',
        channel: 'nitrixr'
      });
  
  hr
  
  iframe(src='https://itch.io/embed/750705?linkback=true&border_width=0&bg_color=2c2137&fg_color=a1ef8c&link_color=3fac95&border_color=574c62', height="165" frameborder='1', style='width:100%')
    a(href='https://nitrixr.itch.io/gameboy-crayon-club') GameBoy Crayon Club

  iframe(src='https://itch.io/embed/871283?linkback=true&border_width=0&bg_color=000000&fg_color=ffffff&link_color=ff1d8e&border_color=ff3aab', height="165" frameborder='1', style='width:100%')
    a(href='https://nitrixr.itch.io/viruspractice') virus♥practice

  hr

  section
    != about
